@{
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<div class="container">
    <div class="row">
        <div style="margin: 0 auto; text-align: center; color: #4a62ec;
                margin-top: 120px;">
            <h3>提示：@ViewBag.error</h3>
        </div>
    </div>
</div>