@{
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<style>
    .box {
        width: 210px;
        float: left;
    }
    .box div {
        position: relative;
        width: 200px;
        background: #fcfcfc;
        text-align: center;
        margin: 9px;
        border: 1px solid #dddddd;
    }
    .box div:hover {
        padding: 0 2px;
        padding-bottom: 3px;
        border: 2px solid #77aaee;
        box-shadow: 0 3px 3px 2px #dedede;
        transition: color 0.5s ease-in-out;
    }
    .box div a {
        margin-bottom: 8px;
        font-size: 13px;
        line-height: 17px;
        color: #444444;
        text-decoration-line: none;
    }
</style>

<script>
    $(".first-a").css("style='font-size: 16px;'");
</script>


<div class="container" style="height: 700px; margin-top: 28px;">
    <!--第1列++++++++++++++++++++++++++++++++++++++++++++++++++++++++++-->
    <div class="box">
        <div>
                <a class="first-a" href="#">C/C++</a><br />
                <a href="#">基础语法</a><br />
                <a href="#">应用实例</a><br />
                <a href="#">疑难问题</a><br />
                <a href="#">新特性</a><br />
                <a href="#">非技术版</a><br />
                <a href="#">基础类</a>
        </div>

        <div>
            <a class="first-a" href="#">Java</a><br />
            <a href="#">文件读写</a><br />
            <a href="#">I/O流</a><br />
            <a href="#">面向对象</a><br />
            <a href="#">设计模式</a><br />
            <a href="#">JDBC数据库操作</a><br />
            <a href="#">MVC框架</a>
        </div>

        <div>
            <a class="first-a" href="#">C#</a><br />
            <a href="#">ASP.NET MVC5实战</a><br />
            <a href="#">多线程</a><br />
            <a href="#">同步异步</a><br />
            <a href="#">桌面应用编程</a><br />
            <a href="#">实体数据模型</a><br />
            <a href="#">LocalDB数据库</a>
        </div>

        <div>
            <a class="first-a" href="#">PHP</a><br />
            <a href="#">开源资源</a><br />
            <a href="#">基础编程</a><br />
            <a href="#">MySQL数据交互</a><br />
            <a href="#">数据模型</a><br />
            <a href="#">应用框架</a><br />
            <a href="#">WAMP服务配置</a>
        </div>
    </div>

    <!--第2列++++++++++++++++++++++++++++++++++++++++++++++++++-->
    <div class="box">
        <div>
            <a class="first-a" href="#">新技术前沿</a><br />
            <a href="#">SQL Server BI</a><br />
            <a href="#">应用实例</a><br />
            <a href="#">疑难问题</a><br />
            <a href="#">非技术版</a><br />
            <a href="#">基础类</a>
        </div>

        <div>
            <a class="first-a" href="#">新技术前沿</a><br />
            <a href="#">SQL Server BI</a><br />
            <a href="#">应用实例</a><br />
            <a href="#">疑难问题</a><br />
            <a href="#">非技术版</a><br />
            <a href="#">基础类</a>
        </div>

        <div>
            <a class="first-a" href="#">新技术前沿</a><br />
            <a href="#">SQL Server BI</a><br />
            <a href="#">应用实例</a><br />
            <a href="#">疑难问题</a><br />
            <a href="#">非技术版</a><br />
            <a href="#">基础类</a>
        </div>
    </div>

    <!--第3列-->
    <div class="box">
        <div>
            <a class="first-a" href="#">Java</a><br />
            <a href="#">文件读写</a><br />
            <a href="#">I/O流</a><br />
            <a href="#">面向对象</a><br />
            <a href="#">设计模式</a><br />
            <a href="#">JDBC数据库操作</a><br />
            <a href="#">MVC框架</a>
        </div>

        <div>
            <a class="first-a" href="#">C#</a><br />
            <a href="#">ASP.NET MVC5实战</a><br />
            <a href="#">多线程</a><br />
            <a href="#">同步异步</a><br />
            <a href="#">桌面应用编程</a><br />
            <a href="#">实体数据模型</a><br />
            <a href="#">LocalDB数据库</a>
        </div>

        <div>
            <a class="first-a" href="#">PHP</a><br />
            <a href="#">开源资源</a><br />
            <a href="#">基础编程</a><br />
            <a href="#">MySQL数据交互</a><br />
            <a href="#">数据模型</a><br />
            <a href="#">应用框架</a><br />
            <a href="#">WAMP服务配置</a>
        </div>
    </div>

    <!--第4列-->
    <div class="box">
        <div>
            <a class="first-a" href="#">Java</a><br />
            <a href="#">文件读写</a><br />
            <a href="#">I/O流</a><br />
            <a href="#">面向对象</a><br />
            <a href="#">设计模式</a><br />
            <a href="#">JDBC数据库操作</a><br />
            <a href="#">MVC框架</a>
        </div>

        <div>
            <a class="first-a" href="#">C#</a><br />
            <a href="#">ASP.NET MVC5实战</a><br />
            <a href="#">多线程</a><br />
            <a href="#">同步异步</a><br />
            <a href="#">桌面应用编程</a><br />
            <a href="#">实体数据模型</a><br />
            <a href="#">LocalDB数据库</a>
        </div>

        <div>
            <a class="first-a" href="#">PHP</a><br />
            <a href="#">开源资源</a><br />
            <a href="#">基础编程</a><br />
            <a href="#">MySQL数据交互</a><br />
            <a href="#">数据模型</a><br />
            <a href="#">应用框架</a><br />
            <a href="#">WAMP服务配置</a>
        </div>
    </div>

    <!--第5列-->
    <div class="box">
        <div>
            <a class="first-a" href="#">Java</a><br />
            <a href="#">文件读写</a><br />
            <a href="#">I/O流</a><br />
            <a href="#">面向对象</a><br />
            <a href="#">设计模式</a><br />
            <a href="#">JDBC数据库操作</a><br />
            <a href="#">MVC框架</a>
        </div>

        <div>
            <a class="first-a" href="#">C#</a><br />
            <a href="#">ASP.NET MVC5实战</a><br />
            <a href="#">多线程</a><br />
            <a href="#">同步异步</a><br />
            <a href="#">桌面应用编程</a><br />
            <a href="#">实体数据模型</a><br />
            <a href="#">LocalDB数据库</a>
        </div>

        <div>
            <a class="first-a" href="#">PHP</a><br />
            <a href="#">开源资源</a><br />
            <a href="#">基础编程</a><br />
            <a href="#">MySQL数据交互</a><br />
            <a href="#">数据模型</a><br />
            <a href="#">应用框架</a><br />
            <a href="#">WAMP服务配置</a>
        </div>
    </div>
</div>